{% extends 'base/base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">User List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Groups</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for group in user.groups.all %}
                            {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'edit_user_groups' user.id %}" class="btn btn-outline-primary">Edit Groups</a>
                        <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
