{% extends 'base/base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>User List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Groups</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.groups.all|join:", " }}</td>
                    <td>
                        <a class="btn btn-primary" href="#">Edit Groups</a>
                        <a class="btn btn-danger" href="#">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
